<!-- About Section Start -->
<div class="container" id="about">
    <div class="row">
        <div class="left-container clo-lg-6 col-md-6 col-12" data-aos="fade-up" data-aos-duration="5000">
            <img src="/assets/images/Dhana_img.png" alt="A image of mine" class="img-fluid">
        </div>
        <div class="right-container col-lg-6 col-md-6 col-12 py-lg-5 py-md-5 py-2" data-aos="fade-down" data-aos-duration="5000">
            <h2 class="h2">About Me</h2>
            <p class="title">Dhanaselvan J U</p>
            <p class="body darker">As a passionate 3rd-year enthusiast in the world of coding and development, I'm embarking on a journey to master the art of Full Stack Development and Python programming. From conceptualizing creative front-end designs to engineering robust back-end solutions, I strive to weave together the intricate threads of technology to build seamless, innovative experiences. With a fervor for learning and a dedication to refining my craft, I'm committed to creating impactful solutions that push boundaries and transcend limitations.</p>
            <a href="/assets/images/Resume.pdf" class="btn" download>Resume</a>
        </div>
        <div class="edu col-12">
            <h2 class="h2 py-3" data-aos="fade-right" data-aos-duration="5000">Education</h2>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-12" data-aos="fade-down" data-aos-duration="5000">
                    <p class="subtitle bold">B.E Computer science and Engineering</p>
                </div>
                <div class="col-lg-9 col-md-9 col-12" data-aos="fade-right" data-aos-duration="5000">
                    <p class="subtitle bold">2021 - Present</p>
                    <p class="body darker">Hindusthan college of engineering and technology, Coimbatore, Tamilnadu, India.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-12 my-2" data-aos="fade-down" data-aos-duration="5000">
                    <p class="subtitle bold">HSE and SSLC</p>
                </div>
                <div class="col-lg-9 col-md-9 col-12 my-0 my-lg-2 my-md-2" data-aos="fade-right" data-aos-duration="5000">
                    <p class="subtitle bold">2018 - 2021</p>
                    <p class="body darker">M.N.U Jayaraj Nadar Hr. Sec. School, Madurai, Tamilnadu, India.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Section end -->