<!-- Home Section Start -->
<div class="container-fulid" id="home">
    <div class="container-fulid Container d-flex flex-column justify-content-center align-items-center">
        <p class="title" data-aos="fade-right" data-aos-duration="1000">Hello Guys,</p>
        <p class="h1" data-aos="fade-down" data-aos-duration="1000">I'M <span>Dhanaselvan</span></p>
        <p class="title text-center" data-aos="fade-right" data-aos-duration="1000">Full Stack Web Developer | Python Developer</p>
        <a class="btn my-3" data-aos="fade-down" data-aos-duration="1000" href="javascript:void(0)" (click)="toAbout()" routerLink="/about" RouterLinkActive="active">Learn More</a>
    </div>
</div>
<!-- Home Section end -->