<!-- Project section starts -->
<div class="container-fulid" id="projects">
  <div class="container">
    <h2 class="title text-center">Projects</h2>
    <div class="row">
        <div class="col-12 col-lg-5">
            <div class="card h-100" data-aos="fade-right">
                <div class="card-img-top text-center">
                    <img src="/assets/images/Group 4.png" alt="Student Management System screenshot" class="img-fluid">
                </div>
                <div class="card-body">
                    <h4 class="subtitle">Student Management System</h4>
                    <p class="details darker">Student Management System is a GUI Application Created using Python Tkinter Module.In this application we can Perform basic CRUD operation for the Student Record.</p>
                    <a href="https://github.com/DhanaSelvan/Student-Management-System" class="btn primary-btn">Github Link</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-5">
            <div class="card h-100" data-aos="fade-down" data-aos-duration="2000">
                <div class="card-img-top text-center">
                    <img src="/assets/images/Home.png" alt="Blood Donor Application screenshot" class="img-fluid">
                </div>
                <div class="card-body">
                    <h4 class="subtitle">Blood Donor Application</h4>
                    <p class="details darker">Blood Donor Application is a GUI application that connects the people who are needed blood and the people those who are ready to donate their Blood.</p>
                    <a href="https://github.com/DhanaSelvan/Blood-Donor-Application" class="btn primary-btn">Github Link</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-5">
            <div class="card h-100" data-aos="fade-right">
                <div class="card-img-top text-center">
                    <img src="/assets/images/IETE.png" alt="IETE Contest screenshot" class="img-fluid">
                </div>
                <div class="card-body">
                    <h4 class="subtitle">IETE Website Design Contest</h4>
                    <p class="details darker">This is a website design contest conducted by IETE. I recreate a IETE official website.</p>
                    <a href="https://github.com/DhanaSelvan/IETE" class="btn primary-btn">Github Link</a>
                    <a href="https://dhanaselvan.github.io/IETE/" class="btn mx-lg-3 mx-md-3 mx-0 my-lg-0 my-3 secondary-btn">Live Demo</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-5">
            <div class="card h-100" data-aos="fade-down">
                <div class="card-img-top text-center">
                    <img src="/assets/images/lifesaver.png" alt="IETE Contest screenshot" class="img-fluid">
                </div>
                <div class="card-body">
                    <h4 class="subtitle">LifeSaver</h4>
                    <p class="details darker">LifeSaver is a web based application that connects the people who are needed blood and the people those who are ready to donate their Blood.</p>
                    <a href="https://github.com/DhanaSelvan/LifeSaver" class="btn primary-btn">Github Link</a>
                    <!-- <a href="https://dhanaselvan.github.io/IETE/" class="btn mx-lg-3 mx-md-3 mx-0 my-lg-0 my-3 secondary-btn">Live Demo</a> -->
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
