<!-- Skills Set section start -->
<div class="container-fulid" id="skills">
    <div class="container">
        <h2 class="title text-center">Skills</h2>
        <div class="row d-flex ">
            <div class="col-lg-2 col-md-3 col-5 card" data-aos="fade-up" data-aos-duration="1000">
                <img src="/assets/images/html.png" alt="html icon" class="img-fluid">
            </div>
            <div class="col-lg-2 col-md-3 col-5 card" data-aos="fade-down" data-aos-duration="1000">
                <img src="/assets/images/Css.png" alt="Css icon" class="img-fluid">
            </div>
            <div class="col-lg-2 col-md-3 col-5 card" data-aos="fade-up" data-aos-duration="1000">
                <img src="/assets/images/Vector.png" alt="Javascript icon" class="img-fluid">
            </div>
            <div class="col-lg-2 col-md-3 col-5 card" data-aos="fade-down" data-aos-duration="1000">
                <img src="/assets/images/Bootstrap_svg.png" alt="Bootstap icon"  class="img-fluid">
            </div>
            <div class="col-lg-2 col-md-3 col-5 card" data-aos="fade-up" data-aos-duration="1000">
                <img src="/assets/images/Angular_icon.png" alt="An Angular icon" class="img-fluid">
            </div>
            <div class="col-lg-2 col-md-3 col-5 card" data-aos="fade-down" data-aos-duration="1000">
                <img src="/assets/images/Pythonsvg.png" alt="A Python icon" class="img-fluid">
            </div>
            <div class="col-lg-2 col-md-3 col-5 card" data-aos="fade-up" data-aos-duration="1000">
                <img src="/assets/images/Django-png.png" alt="Django icon" class="img-fluid">
            </div>
            <div class="col-lg-2 col-md-3 col-5 card" data-aos="fade-down" data-aos-duration="1000">
                <img src="/assets/images/SQLite.png" alt="SQLite icon" class="img-fluid">
            </div>
            <div class="col-lg-2 col-md-3 col-5 card" data-aos="fade-up" data-aos-duration="1000">
                <img src="/assets/images/JAVA svg.png" alt="Java Icon" class="img-fluid">
                <!-- <div class="tooltipText my-2 details">JAVA</div> -->
            </div>
        </div>
    </div>
</div>
<!-- Skills set section end -->